[submodule "translate"]
	path = translate
	url = https://github.com/blokadaorg/translate.git
[submodule "boringtun"]
	path = boringtun
	url = https://github.com/cloudflare/boringtun.git
[submodule "ios/wireguard-apple"]
	path = ios/wireguard-apple
	url = https://git.zx2c4.com/wireguard-apple
